ADMIN_2FA_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CORS_ORIGIN=
DISPATCH_RADIUS_EXTENDED_KM=
DISPATCH_RADIUS_KM=
DISPATCH_RADIUS_LONG_KM=
DRIVER_LOCATION_FRESH_MS=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_USER=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
GOOGLE_MAPS_API_KEY=
JWT_EXPIRE=
JWT_SECRET=
MONGODB_URI=
REACT_APP_BACKEND_URL=
REACT_APP_ENV=
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_GOOGLE_MAPS_KEY=
REACT_APP_STRIPE_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=